@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <form class="login100-form validate-form" asp-page="./ExternalLogin" sp-route-returnUrl="@Model.ReturnUrl" method="post">
		<div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<div class="login100-form-btn">
					Login
				</div>
			</div>
		</div>
        <div class="flex-c-m">
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" class="login100-social-item bg1" name="provider" value= @provider.Name>
                    <i class="fa fa-facebook"></i>
                </button>
            }
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
